
  .projects {
    display: flex;
     margin: 4rem 2rem;
     height: 2fr;
     border: 1px hsl(351, 8%, 18%) solid;
     justify-content: space-between;
   }

 .projects-img {
  width: 25rem;
  height: 15rem;
  align-self: right;
  margin: 2rem;
  }

  h3 {
    align-self: center;
  }