body {
  font-size: 20px;
}
h1{
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

h6 {
  font-family:'Montserrat', Arial, Helvetica, sans-serif;
}

p {
  font-family:'Cabin' , sans-serif
}

a {
  font-family:'Cabin' , sans-serif;
  font-weight: bold;
  font-size: smaller;
}